@import 'tailwindcss';
@import 'tw-animate-css';

/*@custom-variant dark (&:is(.dark *));*/

@layer base {
	/* https://fluidbuilder.webflow.io/?design=80&max=80&min=20&g=--padding-horizontal--main,3,1_--size--2rem,2,1.75_--size--2-5rem,2.5,2_--size--3rem,3,2.2,t_--size--3-5rem,3.5,2.375_--size--4rem,4,2.5_--size--4-5rem,4.5,2.75_--size--5rem,5,3_--size--5-5rem,5.5,3.25_--size--6rem,6,3.5_--size--6-5rem,6.5,3.75_--size--7rem,7,4_--size--7-5rem,7.5,4.25_--size--8rem,8,4.5_--size--8-5rem,8.5,4.75_--size--9rem,9,5_--size--9-5rem,9.5,5.25_--size--10rem,10,5.5_--size--11rem,11,5.75_--size--12rem,12,6_--size--13rem,13,6.5_--size--14rem,14,7_--size--15rem,15,7.5_--size--16rem,16,8&g=:1.125,1.125:--display--font-size,5,2.02,t_--h1--font-size,4.44,1.8_--h2--font-size,3.95,1.6_--h3--font-size,3.51,1.42_--h4--font-size,3.12,1.26_--h5--font-size,2.77,1.12_--h6--font-size,2.47,1&g=:1.2,1.14:,1.8,1.3_--text-large--font-size,1.5,1.14_--text-main--font-size,1.25,1,t_--text-small--font-size,1.04,0.88 */

	/* fluid sizes */
	:root {
		--header-height: 64px;

		--padding-horizontal--main: clamp(1rem, 0.1927rem + 3.51vw, 3rem);
		--size--2rem: clamp(1.75rem, 1.6488rem + 0.44vw, 2rem);
		--size--2-5rem: clamp(2rem, 1.7976rem + 0.88vw, 2.5rem);
		--size--3rem: clamp(2.25rem, 1.9464rem + 1.32vw, 3rem);
		--size--3-5rem: clamp(2.375rem, 1.9219rem + 1.97vw, 3.5rem);
		--size--4rem: clamp(2.5rem, 1.8951rem + 2.63vw, 4rem);
		--size--4-5rem: clamp(2.75rem, 2.0439rem + 3.07vw, 4.5rem);
		--size--5rem: clamp(3rem, 2.1927rem + 3.51vw, 5rem);
		--size--5-5rem: clamp(3.25rem, 2.3415rem + 3.95vw, 5.5rem);
		--size--6rem: clamp(3.5rem, 2.4903rem + 4.39vw, 6rem);
		--size--6-5rem: clamp(3.75rem, 2.6414rem + 4.82vw, 6.5rem);
		--size--7rem: clamp(4rem, 2.7902rem + 5.26vw, 7rem);
		--size--7-5rem: clamp(4.25rem, 2.939rem + 5.7vw, 7.5rem);
		--size--8rem: clamp(4.5rem, 3.0878rem + 6.14vw, 8rem);
		--size--8-5rem: clamp(4.75rem, 3.2366rem + 6.58vw, 8.5rem);
		--size--9rem: clamp(5rem, 3.3854rem + 7.02vw, 9rem);
		--size--9-5rem: clamp(5.25rem, 3.5342rem + 7.46vw, 9.5rem);
		--size--10rem: clamp(5.5rem, 3.6853rem + 7.89vw, 10rem);

		--display--font-size: clamp(2.99rem, 2.2724rem + 3.12vw, 4.77rem);
		--h1--font-size: clamp(2.49rem, 1.9564rem + 2.32vw, 3.81rem);
		--h2--font-size: clamp(2.07rem, 1.6744rem + 1.72vw, 3.05rem);
		--h3--font-size: clamp(1.73rem, 1.4425rem + 1.25vw, 2.44rem);
		--h4--font-size: clamp(1.44rem, 1.2353rem + 0.89vw, 1.95rem);
		--h5--font-size: clamp(1.2rem, 1.0551rem + 0.63vw, 1.56rem);
		--h6--font-size: clamp(1rem, 0.8988rem + 0.44vw, 1.25rem);
		--text-larger--font-size: clamp(1.3rem, 1.2149rem + 0.37vw, 1.51rem);
		--text-large--font-size: clamp(1.14rem, 1.0917rem + 0.21vw, 1.26rem);
		--text-main--font-size: clamp(1rem, 0.9793rem + 0.09vw, 1.05rem);
		--text-small--font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
	}

	@media (min-width: 768px) {
		::root {
			--header-height: 72px;
		}
	}

	[hidden] {
		display: none !important;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	::selection {
		background-color: var(--color-cyan-950);
		color: var(--color-teal-200);
	}

	:target {
		scroll-margin-top: var(--header-height);
	}

	/* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}*/

	html {
		accent-color: var(--color-teal-600);
		caret-color: var(--color-teal-600);
		scroll-padding-top: var(--header-height);
		overscroll-behavior: none;
		scroll-behavior: smooth;
		color: var(--color-cyan-950);
		font-family: 'Rubik';
		@apply antialiased;
	}

	summary {
		cursor: pointer;
	}
	::-webkit-details-marker {
		display: none;
	}

	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-corner,
	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		--tw-bg-opacity: 1;
		background-color: rgb(229, 231, 235 / var(--tw-bg-opacity));
		transition-duration: 0.15s;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@layer components {
	/* ctas, links */

	.primary {
		@apply inline-flex h-10 items-center justify-center rounded-lg bg-cyan-950 px-4 text-sm font-medium text-white transition-colors hover:bg-cyan-900 max-md:w-full;
	}

	.secondary {
		@apply inline-flex h-10 items-center justify-center rounded-lg bg-teal-600 px-4 text-sm font-medium text-white transition-colors hover:bg-teal-500 max-md:w-full;
	}

	.tertiary {
		@apply inline-flex h-10 items-center justify-center rounded-lg bg-white px-4 text-sm font-medium text-cyan-950/80 transition-colors hover:bg-teal-50 hover:text-cyan-700 max-md:w-full;
	}

	/* layout */

	.section {
		@apply mx-auto max-w-7xl px-(--padding-horizontal--main);
	}

	.fluid-gap {
		gap: var(--padding-horizontal--main);
	}

	.fluid-padding {
		padding: var(--padding-horizontal--main);
	}

	.fluid-vertical-space {
		padding-top: var(--size--4-5rem);
		padding-bottom: var(--size--4-5rem);
	}

	iconify-icon {
		display: inline-block;
		width: 1em;
		height: 1em;
	}

	.embla {
		--slide-spacing: var(--padding-horizontal--main);
		--slide-size: 100%;
		@apply m-auto max-w-full;
	}
	.embla__viewport {
		@apply overflow-hidden;
	}
	.embla__container {
		@apply ml-[calc(var(--slide-spacing)*-1)] flex touch-pan-y touch-pinch-zoom backface-hidden;
	}
	.embla__slide {
		flex: 0 0 var(--slide-size);
		@apply m-0 min-w-0 transform-[translate3d(0,0,0)] pl-(--slide-spacing);
	}
	.slide-item {
		@apply mx-(--padding-horizontal--main) select-none;
	}
	.embla__button {
		@apply z-1 flex size-8 cursor-pointer touch-manipulation appearance-none items-center justify-center rounded-full bg-transparent p-2 text-cyan-950 transition-all hover:bg-gray-200 hover:text-cyan-950;
	}
	.embla__button:disabled {
		@apply text-gray-400;
	}
	.embla__dots {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		margin-inline-end: calc((2.6rem - 1.4rem) / 2 * -1);
	}
	.embla__dot {
		-webkit-tap-highlight-color: var(--color-cyan-950);
		text-decoration: none;
		border: 0;
		padding: 0;
		margin: 0;
		@apply flex size-5 cursor-pointer touch-manipulation appearance-none items-center justify-center rounded-full bg-transparent;
	}
	.embla__dot:after {
		content: '';
		@apply flex size-2 cursor-pointer touch-manipulation appearance-none items-center justify-center rounded-full bg-gray-200 transition-all hover:bg-cyan-950;
	}
	.embla__dot--selected:after {
		@apply w-4 bg-cyan-950;
	}
}

@layer utilities {
	/* typography */
	.display {
		font-size: var(--display--font-size);
		@apply leading-snug font-semibold ltr:tracking-tighter;
	}
	.h1 {
		font-size: var(--h1--font-size);
		@apply leading-snug font-semibold ltr:tracking-tighter;
	}
	.h2 {
		font-size: var(--h2--font-size);
		@apply leading-snug font-semibold ltr:tracking-tighter;
	}
	.h3 {
		font-size: var(--h3--font-size);
		@apply leading-snug font-semibold ltr:tracking-tighter;
	}
	.h4 {
		font-size: var(--h4--font-size);
		@apply leading-snug font-semibold ltr:tracking-tighter;
	}
	.h5 {
		font-size: var(--h5--font-size);
		@apply leading-snug font-semibold ltr:tracking-tighter;
	}
	.h6 {
		font-size: var(--h6--font-size);
		@apply leading-snug font-semibold ltr:tracking-tighter;
	}
	.text-larger {
		font-size: var(--text-larger--font-size);
	}
	.text-large {
		font-size: var(--text-large--font-size);
	}
	.text-main {
		font-size: var(--text-main--font-size);
	}
	.text-small {
		font-size: var(--text-small--font-size);
	}
	.sticky-below-header {
		position: sticky;
		top: calc(var(--header-height) + var(--offset, 0px));
	}

	/* .richtext {
		& :is(ul, ol) {
			list-style: revert;
			padding-left: 1.5em;
		}

		 & a:not([class*='action']) {
			@apply link;

			padding: 0.5em 1em;
		}

		& code {
			@apply rounded bg-gray-950/10 px-1;
		}
	} */

	.hero-background {
		background-image:
			linear-gradient(to bottom, transparent, white),
			radial-gradient(
				ellipse at top center,
				#155e75 0%,
				#2dd4bf 60%,
				#f0fdfa 100%
			);
	}

	.cyan-gradient-background-1 {
		--a: #cffafe;
		--a-shape: 40% 50% at 10% 40%;
		background: radial-gradient(var(--a-shape), var(--a), transparent);
	}

	.cyan-gradient-background-2 {
		--a: #f0fdfa;
		--a-shape: ellipse 30% 23% at 30% 56%;
		--b: #cffafe;
		--b-shape: ellipse 30% 30% at 71% 52%;
		background:
			radial-gradient(var(--a-shape), var(--a), transparent),
			radial-gradient(var(--b-shape), var(--b), transparent);
	}

	.cyan-gradient-background-3 {
		--a: #f0fdfa;
		--a-shape: ellipse 30% 33% at 50% 56%;
		--b: #cffafe;
		--b-shape: ellipse 50% 50% at 51% 32%;
		background: radial-gradient(var(--b-shape), var(--b), transparent);
	}

	.bg-grid {
		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2298%22%20height%3D%2298%22%20viewBox%3D%220%200%2098%2098%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2297%22%20height%3D%2297%22%20stroke%3D%22white%22%2F%3E%3C%2Fsvg%3E');
	}

	.customScrollbar {
		overflow-y: scroll;
		direction: ltr;
	}

	.customScrollbar::-webkit-scrollbar {
		width: 8px;
	}

	.customScrollbar::-webkit-scrollbar-thumb {
		background: #08334420;
		border-radius: 10px;
	}

	.customScrollbar::-webkit-scrollbar-thumb:hover {
		background: #ffffff20;
	}

	.hide-scrollbar {
		scrollbar-width: none;
	}
}

@theme inline {
	--font-sans: 'Rubik, sans-serif';
	--spacing-fold: calc(100svh - var(--header-height));
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	/* experimental */
	--animate-scroll: scroll var(--tw-animation-duration, 40s)
		var(--tw-animation-direction, forwards) linear infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes scroll {
		to: {
			transform: 'translate(calc(-50%))';
		}
	}
}
